<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>

    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>

    <body ng-app="MicroBlog">
        <div class="container" ng-controller="ArticleController">
            <div class="page-header">
                <h1>
                    Tiny Blog
                </h1>
            </div>
            <div class="alert alert-info" ng-hide="articles && articles.length >0" role="alert">
                There are no blog posts.
            </div>
            <form class="form-horizontal" ng-submit="addArticle(newArticle)" role="form">
                <div class="form-group" ng-repeat="article in articles">
                    <div class="col-xs-2">
                        <label>
                        {{article.title}}
                        </label>
                    </div>
                     <div class="col-xs-4">
                        <label>
                        {{article.content}}
                        </label>
                    </div>
                    <!--                     
                    <div class="checkbox col-xs-9">
                        <label>
                            <input type="checkbox" ng-model="article.checked" ng-change="updateArticle(article)"/>
                            {{article.description}}
                        </label>
                    </div>
                    -->
                    <div class="col-xs-3">
                        <button class="pull-right btn btn-danger" ng-click="deleteArticle(article)" title="Delete" type="button">
                            <span class="glyphicon glyphicon-trash">
                            </span>
                        </button>
                    </div>
                </div>
                <hr/>
                <!--                 
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newArticle" placeholder="Share your thoughts..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="!newArticle" title="Add">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </button>
                    </span>
                </div>
                -->
            </form>
        </div>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/ArticleController.js" type="text/javascript"></script>
    </body>
</html>
